*.chm
*.exe
*.bat
*.iso
*.vmsn
*.nvram
*.vmdk
*.lck
*.vmxf
*.vmx
*.vmsd
*.docx
*.log
*.pdf
*.mp4
*.gz
*.rpm
*.parcel
*.asc
*.doc
*.xmind
*.png
*.gif
*.webp
*.svg
*.jpg
*.jpeg
*.pptx
/软件大数据人工智能/1Linux/虚拟机
/软件大数据人工智能/4数据库/数据库连接工具
/软件大数据人工智能/6大数据技术/0CDH/CDH
软件大数据人工智能/7数据仓库/doc/尚品汇账号密码.txt
